.navbar {
  height: 10vh;
  background-color: #24bfde;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  fill: white;
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

ul a {
  text-decoration: none;
}

ul li {
  color: white;
}

ul li:last-child {
  position: relative;
  padding-top: 3px;
}

ul li:last-child .basket-items-count {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 100%;
  top: 0;
  right: 20px;
  font-size: 12px;
}

ul .cart-icon {
  fill: #0077b6;
}
